/* global and structure */

.home {
	background: orange;
	}
	
.gallery {
	background: red;
	}
	
.container {
	background: yellow;
	margin: 0 auto 0 auto;
	overflow: auto;
	width: 960px;
	}
	
	
	/* nav */

.home #home {
	background: blue;
	font-weight: bold;
	}
	
	
	
.gallery #gallery {
	
	background: blue;
	font-weight: bold;
	}
	
nav {
	position: fixed;
	top: 0;
	left: 0;

	}
	
	
	
nav li {
	background: #fff;
	float: left;
	padding: 20px;
	margin: 10px;
	list-style: none;
	
	}
	
	
	
	
	/* gallery */
	
section {
	float: left;
	margin: 20px;
	background: orange;
	border: 10px solid lime;
}


section {
	position: relative;
	
	}
	
section h3 {
	position: absolute;
	top: 0;
	right: -50px;
	background: aqua;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	